//get flag icons

.pt_PT {
     background-image:url('/ext/resources/flags/pt.png') !important;
}

.es {
     background-image:url('/ext/resources/flags/es.png') !important;
}

.en {
     background-image:url('/ext/resources/flags/england.png') !important;
}

.fr {
     background-image:url('/ext/resources/flags/fr.png') !important;
}
